.table-cell:hover {
    -fx-border-width: 2px;
    -fx-border-color: blueviolet;
}

.table-view:cell-selection .table-cell:selected {
    -fx-border-width: 1px;
    -fx-border-color: blue;
    -fx-background-insets: 2px;
}

.table-cell {
    -fx-background-insets: 1px 7px 1px 7px;
}

.header/*, .table-cell:hover:selected > .header */{
    -fx-alignment: center;
    -fx-background-color: -fx-box-border, -fx-inner-border/*, -fx-body-color*/;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    /*-fx-font-size: 14pt;*/
    /*-fx-background-insets: 0, 0 1 1 0, 1 2 2 1;*/
}
