.table-cell:hover {
    -fx-border-width: 2px;
    -fx-border-color: blueviolet;
}

.table-view:cell-selection .table-cell:selected {
    -fx-border-width: 2px;
    -fx-border-color: blue;
    -fx-background-insets: 2px;
}

.table-cell {
    -fx-background-insets: 2px;
    -fx-border-width: 2px;
    -fx-font-size: .8em;
    -fx-text-fill: white;
}

.header /*, .table-cell:hover:selected > .header */
{
    -fx-alignment: center;
    -fx-background-color: -fx-box-border, -fx-inner-border /*, -fx-body-color*/;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-font-size: 1em;
    /*-fx-background-insets: 0, 0 1 1 0, 1 2 2 1;*/
}

.header:hover, .table-view:cell-selection .header.table-cell:selected {
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}
